In [6]:
# Import all libraries

import pandas as pd
import numpy as np
import glob
import os
import pickle

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import r2_score

In [2]:
rstate = 2
path = '../data_engineering/outputs/location/'

In [3]:
# load the data
parquet_files = glob.glob(os.path.join(path, "*.parquet"))
data = pd.concat((pd.read_parquet(f) for f in parquet_files))

inputs = data[['income',
              'density']]
              
outputs = data['label']

In [4]:
data.describe()

              income        density
count   13988.000000   13988.000000
mean    58153.690377    2414.467773
std     24224.366635    6720.714355
min      2499.000000       0.000000
25%     41996.250000      96.000000
50%     52863.000000     495.000000
75%     69007.000000    2569.000000
max    250001.000000  143683.000000

In [7]:
x_train, x_test, y_train, y_test = train_test_split(inputs, outputs, test_size = 0.2, random_state=rstate)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=1)
model.fit(inputs, outputs)

KNeighborsClassifier(n_neighbors=1)

In [11]:
model.predict(x_test)

array(['Mission Viejo, CA', 'La Feria, TX', 'Palm Bay, FL', ...,
       'Chester, NY', 'Hixson, TN', 'San Angelo, TX'], dtype=object)

In [12]:
pickle.dump(model, open('./outputs/city_classifier/model.pkl', 'wb'))